<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text class="ion-text-center">
    <h1>Ingrese sus datos</h1>
  </ion-text>
  <form [formGroup]="formularioLogin">
    <ion-item>
      <ion-label>Usuario:</ion-label>
      <ion-input formControlName="usuario" placeholder="ej: AlphaDelta000" #nombre></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Contraseña:</ion-label>
      <ion-input formControlName="password" placeholder="Aqui su contraseña" type="password" #contraseña></ion-input>
    </ion-item>
  </form>
    <br><br>
    <ion-button expand="block" shape="round" (Click)="redireccion()">
      Ingresar
    </ion-button>
<br>
  <ion-item class="ion-text-center">
    <ion-label>¿No tienes una cuenta?</ion-label>
    <ion-label [routerLink]="['/registro']" color="primary">Registrate</ion-label>
  </ion-item> 
</ion-content>
